{% extends 'main/base.html' %}
{% load static %}
{% block head %}

<title>Home page</title>

{% endblock head %}

<!-- #############-->
{% block content %}
<div class="container">
    <div class="card mt-3">
        <div class="card-header">
          Notes Archive
        </div>
        <div class="card-body">
            <!-- Notees Archive -->
            <div>
                <!-- notees  -->
                <ul class="list-group">
                    {% for note in notes %}
                    <li class="list-group-item ">
                        <span>
                            {{ note.date_created }}
                        </span>
                        <span>
                            {{note.category}}
                        </span>
                        <span>
                            {{note.title}}
                        </span>
                        <span>
                            {{note.description}}
                        </span>
                    </li>
                    <br>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
      </div>
</div>
{% endblock content %}

