{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.name }}
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
    <form method="post" >
        {% csrf_token %}
        <div class="col">
            <div class="card mt-3">
                <div class="card-header">
                    <div class="col">
                        <h6 class="mb-2 text-primary">User Profile</h6>
                    </div>
                </div>
                <div  class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="username">Username</label>
                                {{form.username}}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                {{form.email}}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                {{form.first_name}}
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                {{form.last_name}}
                            </div>
                        </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <center>
                                <input class="btn btn-secondary" type="button" value="Cancel" onClick="javascript:history.go(-1);">
                                <input  class="btn btn-primary" type="submit"   value="Update">
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock content %}