{% extends 'main/base.html' %}
{% block content %}
    <div class="content">
        <div class="container">
            <h3 class="text-info">If your email was registered with us you must recieve an email with instructions to reset your password now.
                If you haven't recieved any email yet, make sure to check Spam folder too.
            </h3>
            <div class="text-center">
                <a href="{% url 'user_login' %}" class="btn btn-lg btn-outline-primary">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}